%header
	%h1
		=form_tag("/search", method: "get", id: "headsearch", autocomplete: "off") do
			=text_field_tag :search, nil, placeholder: "greg.nu"
	#thelogoisaform
	#whoiam<
		%h3< 
			%a{href:"/"}
				\#home
			\\\
			%a{href:"/"}
				\#about
			\\\
			%a{href:"/t/idea"}
				\#ideas
			\\\
			%a{href:"/t/project"}
				\#projects
			\\\
			%a{href:"/t/tutorial"}
				\#tutorials
			\\\
			%a{href:"http://github.com/scoin", target: "_blank"}
				\#github
			\\\
			%a{href:"/"}
				\#talk