!!!
%html
	%head
		%title g r e g d o t n u #{@title}

		=stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		=javascript_include_tag 'application', 'data-turbolinks-track' => true
		=csrf_meta_tags

	%body
		#greg
			=yield


